@import "tailwindcss";

@theme {
    --animate-input-error : input-error 0.5s ease-in-out ;
}

@layer utilities {
    .flex-center {
        @apply flex justify-center items-center;    
    }

    @keyframes input-error {
        0%, 100% {
            transform: translateX(0);
        }
        20% {
            transform: translateX(-6px);
        }
        40% {
            transform: translateX(6px);
        }
        60% {
            transform: translateX(-4px);
        }
        80% {
            transform: translateX(4px);
        }
  }

    .animate-input-error {
        animation: var(--animate-input-error);
    }
}